<!DOCTYPE html>
<html>
<head>
	<title>AES</title>
	{%load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static './main/normalize.css' %}"> 
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static './main/style.css' %}"> 
</head>
<body>
	<h1 id="titulo">AES</h1>
	<form method="post" id="form">
		{% csrf_token %}
		{{ form }}
		<button class="submit" type="submit">Iniciar</button>
	</form>
	<a href="/"><button id="vover">volver</button></a>
</body>
</html>

